<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">En Çok Satanlar</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pizza, genellikle yuvarlak, düzleştirilmiş,mayalı buğday bazlı hamurun üstüne domates, peynir ve genellikle çeşitli
                              diğer malzemelerle doldurulan ve daha sonra geleneksel olarak odun ateşinde bir 
                              fırında yüksek sıcaklıkta pişirilen bir İtalyan yemeğidir. Küçük bir pizzaya bazen pizzatta denir</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani, karışık bir pirinç yemeğidir. Çeşitli baharatlar ile ,
                             pirinç ve et (genellikle tavuk, balık) ve bazen de yumurta veya bazı bölgesel çeşitlerde patates gibi sebzelerle yapılır.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Makarna</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Makarna, tipik olarak buğday ununun su veya yumurta ile karıştırıldığı ve tabaka veya başka şekillerde şekillendirilen, 
                            daha sonra kaynatılarak veya fırınlanarak pişirilen mayasız bir hamurdan yapılan bir yiyecek türüdür.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Erimiş çikolatalı kek, çikolatalı kek ve sufle unsurlarını birleştiren popüler bir tatlıdır.
                             Adını tatlının sıvı çikolata merkezinden alır ve aynı zamanda çikolatalı moelleux, çikolatalı lav keki veya sadece lav keki olarak da bilinir.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                       
                        Tahiroğlu
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>